@import "tailwindcss";

@theme {
  --font-display: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  --color-cardiff-red: #d50032;
  --color-cardiff-dark: #231f20;
  --color-cardiff-grey: #a7a8aa;
  --color-cardiff-light: #f5f5f5;
  --color-cardiff-white: #ffffff;
  --color-cardiff-blue: #045bc6;
  --color-cardiff-green: #07873e;
}

a:focus {
  @apply bg-amber-300 outline-0 ring-2 ring-amber-400;
}

button:focus {
  @apply outline-0 ring-4 ring-amber-400;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
